@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');
body{
  overflow-x:hidden;
  overflow-y:hidden;
}
.div{
  position:absolute;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  text-decoration:none;
  outline:none;
  font-family: 'Open Sans', sans-serif;
}
.textGradient{

  background: linear-gradient(
        to right,
        #68ff36 20%,
        #4cd61e 30%,
        #4cd61e 70%,
        #64fc31 80%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 3.5s ease-in-out infinite alternate;
}
@keyframes textShine {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}
.highlight{
  background-color:rgba(255, 70, 70, 0.8);
	margin-left:-5px;
	margin-right:-5px;
	padding-left:5px;
	padding-right:5px;
	padding-top:2px;
	padding-bottom:2px;
	border-radius:5px;
}
.highlight2{
  background-color:rgba(0, 206, 10, 1);
	margin-left:-5px;
	margin-right:-5px;
	padding-left:5px;
	padding-right:5px;
	padding-top:2px;
	padding-bottom:2px;
	border-radius:5px;
}
.fallingFruit{
  width:100px;
  height:100px;
  opacity:0.7;
  position:absolute;
  top:-10%;
}
@keyframes fall{
  0%{top:-10%;}
  100%{top:100%;}
}
@keyframes spin{
  0%{transform:rotate(0deg);}
  100%{transform:rotate(359deg);}
}
.button{
  transition:0.1s all;
  cursor:pointer;
}
.button:hover{
  
}
.gardenFood{
  animation:float 3s ease infinite; 
}
@keyframes float{
	0% { transform: translate(0,  0px); }
    50%  { transform: translate(0px, 15px); }
    100%   { transform: translate(-0, -0px); }   
}